
.wp-block-ef-sample-blocks-document-preview {
	.document-preview__embed--pdf,
	.document-preview__embed--mso {
		width: 100%;
		height: 600px;
	}

	.wp-element-button {
		display: inline-block;
	}
}
